@media (min-width: 1200px) {
	#header .search-form #s { width: 71% !important; }
	
	#header-menu li#menu-item-76 { margin-left: 297px; }
	
	.post-type-search-form input { width: 235px; }
}

@media (min-width: 980px) and (max-width: 1199px) {
	#header .search-form #s { width: 65% !important; }
}

@media (max-width: 979px) {
	#UCFHBSearch_and_links { display: none; }
	#UCFHBHeader div.UCFHBWrapper { width: 100%; }
	
	#header-menu li { margin-bottom: 8px; }
	#header-menu li#menu-item-76, #header-menu li.last {
		margin-bottom: 16px;
	}
	#header-menu li#menu-item-76 { margin-left: 0; }
}

@media (min-width: 768px) and (max-width: 979px) {
	#header .search-form #s { width: 54% !important; }
	
	.post-type-search-form input { width: 132px; }
	
	.contact-email { font-size: 18px !important; }
	.contact-email a { font-size: 22px !important; }
}

@media (width: 768px) {
	.page-content, #footer-widget-wrap { padding-left: 20px; }
	#footer { margin-left: 0; }
}

@media (max-width: 768px) {	
	#footer { margin-left: 0; }
}

@media (max-width: 767px) {	
	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { width: 100%; }

	#header { margin-left: 0; }
	#header form { margin: 10px 0; }
	#header #header-search { margin-left: 0; }
	
	#header-menu { overflow: auto; margin-bottom: 10px; }
	
	#home .description { margin-top: 10px; }
	
	#below-the-fold { margin-left: 0; }
	#below-the-fold .span4 { margin-top: 20px; margin-left: 0; margin-bottom: 20px; }
	#below-the-fold h2 { margin-bottom: 15px; }
	.news .item { margin-bottom: 10px; }
	
	table.events { margin-left: -15px; }
	#below-the-fold .span3 { margin-left: 0; }
	
	.footer-widget-1, .footer-widget-2, .footer-widget-3 { overflow: hidden; }
	#footer .footer-contact { width: 100%; clear: both; margin-left: 0; }
	
	/* Shrinkable bootstrap tables for tablets/phones.
	Responsive table guide via css-tricks.com/responsive-data-tables/ */
	table.table.table-striped, 
	.table.table-striped thead, 
	.table.table-striped tbody, 
	.table.table-striped th, 
	.table.table-striped td, 
	.table.table-striped tr {
		display: block;
	}
	.table.table-striped tbody {
		width: 100%;
	}
	.table.table-striped thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table.table-striped tr {
		margin: 10px 0 0 0;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
	.table.table-striped tbody tr td:empty {
		display: none;
	}
	.table.table-striped td, 
	.table.table-striped td.name, 
	.table.table-striped td.email, 
	.table.table-striped td.job_title, 
	.table.table-striped td.phones {
		width: auto;
	}
	.table.table-striped td.name {
		font-size: 14px;
	}
	.table.table-striped td.job_title {
		border-top: 0;
	}
	.table.table-striped tbody tr td ul {
		margin-bottom: 0;	
	}
	.table.table-striped td.phones ul li {
		line-height: 16px;
	}
	.table.table-bordered {
		border: 0;
	}
	.table.table-bordered tbody tr td {
		border-left: 0;
	}


	.box { height: auto !important; margin-bottom: 20px; }
	
	.post-type-search-form input { width: 98%; }
}

@media (max-width: 480px) {
	.navbar .menu {
		padding: 0;
	}
	.navbar ul#header-menu li:after {
		content: "";
	}
	.navbar ul#header-menu li, .navbar ul#header-menu ul.dropdown-menu li {
		display: block;
		float: none;
		margin: 0;
		line-height: 13px;
	}
	.navbar ul#header-menu li a {
		display: block;
		color: #999;
		font-weight: bold;
		font-size: 13px;
		padding: 6px 15px;
		border-radius: 3px 3px 3px 3px;
	}
		.navbar ul#header-menu li.active a {
			color: #fff;
			background-color: #222;
		}
	.navbar ul#header-menu li a:hover {
		background-color: #222;
		text-decoration: none;
		color: #fff;
	}
	.navbar ul#header-menu b.caret {
		border-bottom-color: #fff;
    	border-top-color: #fff;
		margin-top: 4px;
	}
	
	#header { margin-top: 20px; }
	#header h1 a { font-size: 32px; }
	
	#header-menu li#menu-item-76 a, #header-menu li.last a {
		text-transform: none; font-size: 13px;
	}
	#header-menu li#menu-item-76 a:hover, #header-menu li.last a:hover {
		color: #fff;
	}
	#header-menu li#menu-item-76:after { content: none; }
	
	.search-form label { font-size: 14px; }
	#header .search-form #s { width: 175px !important; padding-left: 2px; }
	
	.post-type-search-form input { width: 100%; }
}