#box1, #box2 { height: 135px; }
#box3, #box4 { height: 80px; }

@media (min-width: 768px) and (max-width: 979px) {
	#box1, #box2 { height: 160px; }
}

@media (min-width: 768px) {
	#box3, #box4 { margin-top: 20px; }
}